extends ../../layouts/default.pug

block main
  .container.mt-4
    if(product.title)
      h1.mb-4 #{product.title}

    .row
      .col-md-4
        if(product.thumbnail)
          img.img-thumbnail.mb-3(src=product.thumbnail alt='Product Image' style="width: 100%; max-width: 300px; height: auto;")

        if(product.description)
          p.mb-4 Mô tả:
            i !{product.description}

      .col-md-8
        if(product.price)
          p.mb-2 Giá:
            span.font-weight-bold #{product.price}

        if(product.discountPercentage)
          p.mb-2 Giảm giá:
            span.font-weight-bold #{product.discountPercentage}%

        if(product.stock)
          p.mb-2 Số lượng:
            span.font-weight-bold #{product.stock}

        if(product.position)
          p.mb-2 Vị trí:
            span.font-weight-bold #{product.position}

        if(product.status)
          p.mb-2 Trạng thái:
            if(product.status === "active")
              span.badge.badge-success.ml-2 Hoạt động
            else
              span.badge.badge-danger.ml-2 Dừng hoạt động

        a.btn.btn-warning(href=`/admin/products/edit/${product.id}`) Chỉnh sửa