extends ../../layouts/default.pug
include ../../mixins/filterStatus.pug
include ../../mixins/search.pug
include ../../mixins/pagination.pug
include ../../mixins/alert.pug
include ../../mixins/sort.pug
include ../../mixins/moment.pug

block main
  +alert-success(2000)
  +alert-error(2000)

  h1 Danh sách sản phẩm

  .card.mb-3
    .card-header Bộ lọc và tìm kiếm
    .card-body
      .row
        .col-6
          +filterStatus(filterStatus)
        .col-6
          +search(keyword)

  .card.mb-3
    .card-header Sắp xếp
    .card-body
      .row
        .col-4
          +sort()

  .card.mb-3
    .card-header Danh sách sản phẩm
    .card-body
      .row
        .col-4
          a(
            href="/admin/products/create"
            class="btn btn-outline-success"
            style="margin-bottom: 10px"
            ) + Thêm sản phẩm
      table.table.table-hover.table-sm.text-center
        thead
          tr
            th STT
            th Hình ảnh
            th Tiêu đề
            th Giá
            th Vị trí
            th Trạng thái
            th Người tạo
            th Người sửa cuối cùng
            th Hành động
        tbody
          if(products)
            each item, index in products
              tr
                td.align-middle #{pagination.limitItems * (pagination.currentPage - 1) + (index + 1)}
                td.align-middle
                  img(
                    src=item.thumbnail,
                    alt=item.title,
                    width="100px",
                    height="auto"
                    )
                td.align-middle #{item.title}
                td.align-middle #{item.price}$
                td.align-middle
                  input(
                    type="number"
                    value=item.position
                    style="width: 60px; text-align: center; background-color: white"
                    min="1"
                    name="position"
                    disabled
                  )
                td.align-middle
                  if(item.status === "active")
                    a(
                    href='javascript:;'
                    data-status=item.status
                    data-id=item.id
                    button-change-status
                    class='badge badge-success'
                    ) Hoạt động
                  else
                    a(
                    href='javascript:;'
                    data-status=item.status
                    data-id=item.id
                    button-change-status
                    class='badge badge-danger'
                  ) Dừng hoạt động
                td.align-middle
                  p #{item.accountFullName}
                  +formatDateTime(item.createdBy.createdAt)
                td.align-middle
                  - const lastEditByAccount = item.updatedBy.slice(-1)[0];
                  if(lastEditByAccount)
                    p #{lastEditByAccount.accountEditFullName}
                    +formatDateTime(lastEditByAccount.updatedAt)
                td.align-middle
                  a(
                  href=`/admin/products/detail/${item.id}`
                  class="btn btn-secondary btn -sm ml-1"
                  ) Chi tiết
                  a(
                  href=`/admin/products/edit/${item.id}`
                  class="btn btn-warning btn -sm ml-1"
                  ) Sửa
                  button(
                  class="btn btn-danger btn -sm ml-1"
                  btn-delete
                  data-id=item.id
                  ) Xóa

  +pagination(pagination)

  form(
    action=""
    method="POST"
    id="form-change-status"
    path="/admin/products/change-status"
  )

  form(
    action=""
    method="POST"
    id="form-delete-product"
    path="/admin/products/delete"
  )
  script(src="/admin/js/product.js")