include ../mixins/sub-menu.pug
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />

header.header
  .container
    .row
      .col-3
        .inner-logo
          a(href="/")
            img(src="/images/NQT-meme.jpg", alt="Logo")
      .col-5
        form(
          action="/search"
          method="GET"
        )
          div(class="form-group d-flex mb-0")
            input(
              type="text"
              class="form-control"
              placeholder="Tìm kiếm sản phẩm"
              name="keyword"
              value=keyword
            )
            button(
              type="submit"
              class="btn btn-primary"
            ) <i class="fa-solid fa-magnifying-glass"></i>
      .col-4
        .inner-menu
          ul
            li
              a(href="/") Trang chủ
            li(class="sub-menu")
              - const pathProduct = "/products";
              a(href="/products") Sản phẩm
              +sub-menu(layoutProductsCategory, pathProduct)
            li
              a(href="/cart") <i class="fa-solid fa-cart-shopping"></i> (#{miniCart ? miniCart.totalQuantity : 0})
            li
              a(href="/user/register") Đăng ký