extends ../../layouts/default.pug

block main
  if(record.fullName)
    h1(class="mb-4") #{record.fullName}

  if(record.email)
    div(class="mb-4") Email: <b>#{record.email}</b>

  if(record.phone)
    div(class="mb-4") Số điện thoại: <b>#{record.phone}</b>

  if(record.role)
    div(class="mb-4") Quyền: <b>#{record.role.title}</b>

  if(record.avatar)
    div(class="mb-4")
      img(
        src=record.avatar
        style="width: 100px"
        )

  if(record.status)
    div(class="mb-4")
      span Trạng thái:
      if(record.status === "active")
        span(class="badge badge-success ml-2") Hoạt động
      else
        span(class="badge badge-danger ml-2") Dừng hoạt động

  a(
    class="btn btn-warning"
    href=`${prefixAdmin}/accounts/edit/${record.id}`
  ) Chỉnh sửa

  script(src="/admin/js/account.js")
  script(src="/admin/js/script.js")