extends ../../layouts/default.pug
include ../../mixins/alert.pug

block main
  if(role.permissions.includes("accounts_edit"))
    .card.my-5
      .card-header Chỉnh sửa tài khoản
      .card-body
        if(roles)
          form(
            action=`/admin/accounts/edit/${account.id}?_method=PATCH`
            method="post"
            enctype="multipart/form-data"
          )
            div(class="form-group")
              label(for="fullName") Họ tên*
              input(
                type="text"
                class="form-control"
                id="fullName"
                name="fullName"
                required
                value=account.fullName
              )

            div(class="form-group")
              label(for="email") Email*
              input(
                type="email"
                class="form-control"
                id="email"
                name="email"
                required
                value=account.email
              )

            div(class="form-group")
              label(for="password") Mật khẩu
              input(
                type="text"
                class="form-control"
                id="password"
                name="password"
                required
                min="5"
                value=account.password
              )

            div(class="form-group")
              label(for="phone") Số điện thoại
              input(
                type="text"
                class="form-control"
                id="phone"
                name="phone"
                value=account.phone
              )

            div(
              class="form-group"
              upload-image
            )
              label(for="avatar") Avatar
              input(
                type="file"
                class="form-control-file"
                id="avatar"
                name="avatar"
                accept="image/*"
                upload-image-input
              )
              button(
                type="button"
                class="close"
                close-image-preview
              ) x
              img(
                src=account.avatar
                upload-image-preview
                class="image-preview"
                )

            div(class="form-group")
              label(for="role_id") Phân quyền
              select(
                class="form-control"
                id="role_id"
                name="role_id"
              )
                option(disabled) -- Chọn quyền --
                each item in roles
                  option(
                    value=item.id
                    selected=item.id === account.role_id
                    ) #{item.title}

            div(class="form-group form-check form-check-inline")
              input(
                type="radio"
                class="form-check-input"
                id="statusActive"
                name="status"
                value="active"
                checked=(account.status === "active"? true : false)
              )
              label(for="statusActive" class="form-check-label") Hoạt động

            div(class="form-group form-check form-check-inline")
              input(
                type="radio"
                class="form-check-input"
                id="statusInActive"
                name="status"
                value="inactive"
                checked=(account.status === "inactive"? true : false)
              )
              label(for="statusInActive" class="form-check-label") Dừng hoạt động

            div(class="form-group")
              button(
                type="submit"
                class="btn btn-primary"
              ) Cập nhật

        else
          p Vui lòng tạo nhóm quyền trước khi chỉnh sửa tài khoản
          p
            a(
              href=`/admin/roles/create`
              class="btn btn-secondary"
            ) Tạo nhóm quyền


    script(src="/admin/js/script.js")
    script(src="/admin/js/account.js")
  else
    h1(class="mb-4") Bạn không có quyền truy cập trang này
    p Vui lòng liên hệ với quản trị viên để được hỗ trợ