extends ../../layouts/default.pug
include ../../mixins/alert.pug
include ../../mixins/search.pug
include ../../mixins/filterStatus.pug

block main
  if(role.permissions.includes("accounts_view"))
    +alert-error(2000)
    +alert-success(2000)
    h1(class="mb-4") Danh sách tài khoản

    .card.mb-3
      .card-header Bộ lọc và tìm kiếm
      .card-body
        .row
          .col-6
            +filterStatus(filterStatus)
          .col-6
            +search(keyword)

    .card.mb-3
      .card-header Danh sách
      .card-body
        .row
          .col-8
          .col-4.text-right
            if(role.permissions.includes("accounts_create"))
              a(
                href=`/admin/accounts/create`
                class="btn btn-success mb-3"
              ) + Tạo tài khoản

          table(
          class="table table-hover table-sm text-center"
          checkbox-multi
          )
            thead
              tr.align-middle
                th STT
                th Avatar
                th Họ tên
                th Quyền
                th Email
                th Trạng thái
                th Hành động
            tbody
              each account, index in records
                tr
                  td.align-middle #{index + 1}
                  td.align-middle
                    img(
                      src=account.avatar,
                      alt=account.fullName,
                      width="75px",
                      height="75px"
                      )
                  td.align-middle #{account.fullName}
                  td.align-middle #{account.role.title}
                  td.align-middle #{account.email}
                  td.align-middle
                    if(role.permissions.includes("accounts_edit"))
                      if(account.status === "active")
                        a(
                          href='javascript:;'
                          data-status=account.status
                          data-id=account.id
                          button-change-status
                          class='badge badge-success'
                          ) Hoạt động
                      else
                        a(
                          href='javascript:;'
                          data-status=account.status
                          data-id=account.id
                          button-change-status
                          class='badge badge-danger'
                        ) Dừng hoạt động

                  td.align-middle
                    a(
                      href=`/admin/accounts/detail/${account.id}`
                      class="btn btn-secondary btn -sm"
                      ) Chi tiết
                    if(role.permissions.includes("accounts_edit"))
                      a(
                        href=`/admin/accounts/edit/${account.id}`
                        class="btn btn-warning btn -sm ml-1"
                        ) Sửa
                    if(role.permissions.includes("accounts_delete"))
                      button(
                        class="btn btn-danger btn -sm ml-1"
                        button-delete
                        data-id=account.id
                        ) Xóa
    form(
      action=""
      method="POST"
      id="form-delete-item"
      path=`/admin/accounts/delete`
    )

    form(
      action=""
      method="POST"
      id="form-change-status"
      path=`/admin/accounts/change-status`
    )

    script(src="/admin/js/script.js")
    script(src="/admin/js/account.js")

  else
    h1(class="mb-4") Bạn không có quyền truy cập trang này
    p Vui lòng liên hệ với quản trị viên để được hỗ trợ