extends ../../layouts/default.pug
include ../../mixins/alert.pug
include ../../mixins/box-head.pug

block main
  +alert-success(2000)
  +alert-error(2000)

  .container.my-5
    .row.justify-content-center
      .col-5
        +box-head-center("Lấy lại mật khẩu")
        form(
          action="/user/password/forgot"
          method="post"
        )
          div(class="form-group")
            label(for="email") Email
            input(
              type="email"
              class="form-control"
              id="email"
              name="email"
            )

          div(class="form-group")
            button(
              type="submit"
              class="btn btn-success btn-block"
            ) Gửi mã OTP

