extends ../../layouts/default.pug
include ../../mixins/alert.pug

block main
  +alert-success(2000)
  +alert-error(2000)

  .container.my-5
    .row.justify-content-center
      .col-6
        h1(class="text-center") Lấy lại mật khẩu
        form(
          action="/user/password/otp"
          method="post"
        )
          div(class="form-group")
            label(for="email") Email
            input(
              type="email"
              class="form-control"
              id="email"
              name="email"
              value=email
              readonly
            )

          div(class="form-group")
            label(for="OTP") OTP
            input(
              type="OTP"
              class="form-control"
              id="OTP"
              name="OTP"
              required
            )

          div(class="form-group")
            button(
              type="submit"
              class="btn btn-primary btn-block"
            ) Xác nhận

