extends ../../layouts/default.pug
include ../../mixins/alert.pug
include ../../mixins/box-head.pug

block main
  +alert-error(2000)
  +alert-success(2000)
  +box-head("Trang quản trị")

  .row.my-5
    .col-7
      div
        canvas#ChartTotal(data-statistic=JSON.stringify(statistic))
        div.text-center Thống kê tổng số lượng
    .col-5
      .card
        .card-header Thông tin tài khoản
        .card-body
          if(user.avatar)
            .text-center
              img.rounded-circle(
                src=user.avatar
                style="height: 100px; width: 100px; object-fit: cover; margin-bottom: 15px"
              )
          if(user.fullName)
            .d-flex.justify-content-between
              p.mb-0 Họ tên:
              p.mb-0.font-weight-bold #{user.fullName}
          if(user.email)
            .d-flex.justify-content-between
              p.mb-0 Email:
              p.mb-0.font-weight-bold #{user.email}
          if(user.phone)
            .d-flex.justify-content-between
              p.mb-0 Số điện thoại:
              p.mb-0.font-weight-bold #{user.phone}
          if(role.title)
            .d-flex.justify-content-between
              p.mb-0 Quyền:
              p.mb-0.font-weight-bold #{role.title}

  hr
  .row.my-5
    .col-3
      div
        canvas#ChartProduct(data-statistic-product=JSON.stringify(statistic.product))
        div.text-center Sản phẩm
    .col-3
      div
        canvas#ChartCategory(data-statistic-category=JSON.stringify(statistic.categoryProduct))
        div.text-center Danh mục
    .col-3
      div
        canvas#ChartAccount(data-statistic-account=JSON.stringify(statistic.account))
        div.text-center Tài khoản Admin
    .col-3
      div
        canvas#ChartUser(data-statistic-user=JSON.stringify(statistic.user))
        div.text-center Tài khoản Client

  hr
  .row.my-5
    .col-1
    .col-10
      div
        canvas#ChartProductBestSeller(data-statistic-product-best-seller=JSON.stringify(statistic.order.bestSellingProduct))
        div.text-center Các sản phẩm có số lượng mua nhiều nhất
    .col-1