extends ../../layouts/default.pug
include ../../mixins/alert.pug
include ../../mixins/box-head.pug

block main
  +alert-error(2000)
  +alert-success(2000)
  +box-head("Trang quản trị")

  .row.mt-4
    .col-12.col-lg-6
      .card.mb-4
        .card-header Thông tin tài khoản
        .card-body
          if(user.avatar)
            .text-center
              img.rounded-circle(
                src=user.avatar
                style="height: 100px; width: 100px; object-fit: cover; margin-bottom: 15px"
              )
          if(user.fullName)
            .d-flex.justify-content-between
              p.mb-0 Họ tên:
              p.mb-0.font-weight-bold #{user.fullName}
          if(user.email)
            .d-flex.justify-content-between
              p.mb-0 Email:
              p.mb-0.font-weight-bold #{user.email}
          if(user.phone)
            .d-flex.justify-content-between
              p.mb-0 Số điện thoại:
              p.mb-0.font-weight-bold #{user.phone}
          if(role.title)
            .d-flex.justify-content-between
              p.mb-0 Quyền:
              p.mb-0.font-weight-bold #{role.title}

    .col-12.col-lg-6
      - var cards = []
      - var card1 = { title: 'Danh mục sản phẩm', content: statistic.categoryProduct }
      - var card2 = { title: 'Sản phẩm', content: statistic.product }
      - var card3 = { title: 'Tài khoản Admin', content: statistic.account }
      - var card4 = { title: 'Tài khoản Client', content: statistic.user }
      - cards.push(card1, card2, card3, card4)
      each card, i in cards
        .card.mb-4
          .card-header= card.title
          .card-body
            each val, key in card.content
              .d-flex.justify-content-between
                p.mb-0 #{key.charAt(0).toUpperCase() + key.slice(1)}:
                p.mb-0.font-weight-bold #{val}